<ion-view ng-model="titleTag" title="{{titleTag}}" hide-back-button="true">
    
	<ion-nav-buttons side="left" scroll="false" class="has-header">
        <a ui-sref="tabsController.chatTab" class="button button-icon button-light icon ion-ios-arrow-back"></a>
    </ion-nav-buttons>
	
	<ion-content padding="true" style="background: url(https://s3.amazonaws.com/ionic-io-static/t26C5p9T8aKmy4UgLVQI_background.png) no-repeat center;background-size:cover;" class="has-header" scroll="false">
        <div>
            <ion-content direction="y" scroll="true" has-bouncing="true" class="topbar" scrollbar-y="true">
                <div ng-repeat="message in messages track by $index" ng-class="{other: message.userId == myId}" class="messages" >

                    <div class="message" ng-class="{'slide-right': hideTime, '': !hideTime}" style="height:auto;">
                        <span>{{ message.text }}
                            <div class="time" ng-class="{'slide-right': hideTime, '': !hideTime}">{{message.time}}</div>

                        </span>
                    </div>

                </div>
            </ion-content>
        </div>
        <ion-footer-bar keyboard-attach="" class="item-input-inset chatBar">
            <label class="entryField item-input-wrapper" style="border-bottom-style: none;">
                <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="closeKeyboard()">
            </label>
            <button class="button button-outline chatSend" style="border-right-style: none; padding-left: 16px;" ng-click="sendMessage()" type="submit" ng-submit="sendMessage()">
                Send
            </button>
        </ion-footer-bar>

    </ion-content>
</ion-view>