<ion-view title="GGEO" hide-nav-bar="true" id="page5">
    <ion-content padding="true" style="background: url(img/ggeo_background.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 300px; height: 58px;"></div>
        <div>
            <img src="img/logo.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 73px;"></div>
        <a ui-sref="tabsController.login" id="mainScreen-button2" style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block">Login</a>
        <a ui-sref="tabsController.gamerSignUp" id="mainScreen-button12" style="border-radius:50px 50px 50px 50px;" class="button button-calm  button-block">Sign Up</a>
    </ion-content>
</ion-view>