<ion-view title="Sign Up" id="page8">
    <ion-content padding="true" style="background: url(img/ggeo_background.png) no-repeat center;background-size:cover;" class="has-header">
        <div class="spacer" style="height: 100px;"></div>
        <div id="signUpChooser-markdown1" style="color:#E6E6E6;font-size:14px;text-align:center;">
            <p>Please choose one that applies to you:</p>
        </div>
        <div class="spacer" style="width: 300px; height: 20px;"></div>
        <a ui-sref="tabsController.gamerSignUp" id="signUpChooser-button7" style="border-radius:10px 10px 10px 10px;" class="button button-light  button-block button-outline">I am a gamer</a>
        <div class="spacer" style="width: 300px; height: 12px;"></div>
        <a ui-sref="eventSignUp" id="signUpChooser-button8" style="border-radius:10px 10px 10px 10px;" class="button button-light  button-block button-outline">I want to create an event*</a>
        <div id="signUpChooser-markdown2" style="color:#E6E6E6;font-size:9px;text-align:right;">
            <p style="margin-top:0px;">*Company Only</p>
        </div>
    </ion-content>
</ion-view>